<footer class="site-footer fix">


    <div class="upper-footer main-color clearfix">

        <div class="inner area-count-4 clearfix">

            <div class="widget-area-box">
                <section id="text-2" class="widget widget_text">
                    <h3 class="widget-title">Social networks</h3>			<div class="textwidget">
                        <a href="~/http://www.twitter.com/" class="social"><img src="~/wordpress/wp-content/uploads/2013/09/facebook_dark.png" alt="facebook" /></a>

                        <a href="~/http://www.facebook.com/" class="social">
                            <img src="~/wordpress/wp-content/uploads/2013/09/twitter02_dark.png" alt="twitter" />
                        </a>
                        <a href="~/http://www.pinterest.com/" class="social">
                            <img src="~/wordpress/wp-content/uploads/2013/09/in_dark.png" alt="in" />
                        </a>
                        <a href="~/http://www.skype.com/" class="social"><img src="~/wordpress/wp-content/uploads/2013/09/sk_dark.png" alt="sk" /></a>
                    </div>
                </section>		<section id="recent-posts-3" class="widget widget_recent_entries">
                    <h3 class="widget-title">Recent posts</h3>		<ul>
                        <li>
                            <a href="~/million-of-good-reasons/index.html">Million of good reasons</a>
                        </li>
                        <li>
                            <a href="@Url.Action("BlogPull","Pages")">Watches to Die for!</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="widget-area-box">
                <section id="tag_cloud-2" class="widget widget_tag_cloud">
                    <h3 class="widget-title">Tag cloud</h3><div class="tagcloud">
                        <a href='tag/clean/index.html' class='tag-link-65 tag-link-position-1' title='1 topic' style='font-size: 8pt;'>Clean</a>
                        <a href='tag/fresh/index.html' class='tag-link-66 tag-link-position-2' title='1 topic' style='font-size: 8pt;'>Fresh</a>
                        <a href='tag/nice/index.html' class='tag-link-64 tag-link-position-3' title='1 topic' style='font-size: 8pt;'>Nice</a>
                        <a href='tag/responsive/index.html' class='tag-link-63 tag-link-position-4' title='1 topic' style='font-size: 8pt;'>Responsive</a>
                        <a href='tag/saimle/index.html' class='tag-link-62 tag-link-position-5' title='1 topic' style='font-size: 8pt;'>Saimle</a>
                    </div>
                </section><section id="search-3" class="widget widget_search">
                    <h3 class="widget-title">Search</h3><form role="search" method="get" id="searchform" class="searchform" action="https://essential.prospekt-solutions.com/">
                        <div>
                            <label class="screen-reader-text" for="s">Search for:</label>
                            <input type="text" value="" name="s" id="s" />
                            <input type="submit" id="searchsubmit" value="Search" />
                        </div>
                    </form>
                </section>
            </div>
            <div class="widget-area-box">
                <section id="meta-4" class="widget widget_meta">
                    <h3 class="widget-title">Meta</h3>			<ul>
                        <li><a href="~/wordpress/wp-login.html">Log in</a></li>
                        <li><a href="~/feed/index.html">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                        <li><a href="~/comments/feed/index.html">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                        <li><a href="~/https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
                    </ul>
                </section>
            </div>
            <div class="widget-area-box">
                <section id="recent_auctions-2" class="widget woocommerce widget_recent_auctions">
                    <h3 class="widget-title">Recent Auction</h3><ul class="product_list_widget">
                        <li>
                            <a href="~/product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html">
                                <img width="180" height="180" src="~/wordpress/wp-content/uploads/2013/08/703-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" /> Fortis Men&#8217;s Flieger Chrono-Alarm Croco Leather Watch Auction
                            </a> <span class="winned-for auction">Winning Bid:</span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,507.00</span><span class="has-finished">Auction finished</span>

                        </li>
                    </ul>
                </section>
            </div>

        </div><!-- .inner -->

    </div><!-- .upper-footer -->



    <div class="bottom-footer clearfix">

        <div class="inner area-count-2 clearfix">

            <div class="widget-area-box">
                <section id="nav_menu-2" class="widget widget_nav_menu">
                    <h3 class="widget-title">Shipping and FAQ</h3><div class="menu-shipping-and-faq-container">
                        <ul id="menu-shipping-and-faq" class="menu">
                            <li id="menu-item-1438" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1438"><a href="~/#">Local Shipping</a></li>
                            <li id="menu-item-1439" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1439"><a href="~/#">International Shipping</a></li>
                            <li id="menu-item-1440" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1440"><a href="~/#">Returns</a></li>
                            <li id="menu-item-1441" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1441"><a href="~/#">Affiliate program</a></li>
                            <li id="menu-item-1442" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1442"><a href="~/#">FAQ</a></li>
                            <li id="menu-item-1443" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1443"><a href="~/#">Customer Assistance</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="widget-area-box">
                <section id="text-4" class="widget widget_text">
                    <h3 class="widget-title">Payment options</h3>			<div class="textwidget">
                        <img src="~/wordpress/wp-content/uploads/2013/08/payment.png" alt="payment" />
                        <br />

                        <p align="center"><a href="http://www.nmservers.com/" title="nmservers website performance and wordpress optimization">wordpress optimization</a> and <a href="~/http://www.nmservers.com/" title="nmservers managed web hosting">managed web hosting</a></p>
                    </div>
                </section>
            </div>

        </div><!-- .inner -->

    </div><!-- .bottom-footer -->

    <div id="copywright-footer">

        <div class="inner">
            <p>Copyright 2016 - <a href="http://www.prospekt.hr/">Prospekt Design</a>. All rights reserved.</p>
        </div><!-- .inner -->

    </div><!-- #copywright-footer -->

</footer>
