<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link href="~/wordpress/wp-content/plugins/simple-style-customizer/css/style.css" rel="stylesheet" />
    <link rel='stylesheet' id='simple-style-switcher-css' href='~/wordpress/wp-content/plugins/simple-style-customizer/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='chosen-css' href='~/wordpress/wp-content/plugins/simple-style-customizer/css/chozen.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js-colorpicker-css' href='~/wordpress/wp-content/plugins/simple-style-customizer/css/colorpicker.css' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-parallax-content-slider-css-css' href='~/wordpress/wp-content/themes/essential/admin/content-slider/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-stylesheet-css' href='~/wordpress/wp-content/themes/essential/woocommerce/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' id='main-stylesheet-css' href='~/wordpress/wp-content/themes/essential/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='essential-color-style-css' href='~/wordpress/wp-content/themes/essential/css/blue.css' type='text/css' media='all' />
    <link rel='stylesheet' id='essential-custom-style-css' href='~/wordpress/wp-content/themes/essential/css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='~/wordpress/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='simple-auction-css' href='~/wordpress/wp-content/plugins/woocommerce-simple-auctions/css/frontend.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mainandcontentfontlink-css' href='https://fonts.googleapis.com/css?family=Carme&amp;ver=4.7.4' type='text/css' media='all' />
    
    <script type='text/javascript' src='~/wordpress/wp-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-includes/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/themes/essential/admin/content-slider/js/modernizr.custom-2.6.2.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/themes/essential/admin/content-slider/js/jgestures.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/themes/essential/admin/content-slider/js/jquery.touchSwipe.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/themes/essential/admin/content-slider/js/jquery.cslider.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/themes/essential/js/jquery.touchSwipe.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/themes/essential/js/jquery.tinycarousel.min.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var EssentialAjax = {"ajaxurl":"https:\/\/essential.prospekt-solutions.com\/wordpress\/wp-admin\/admin-ajax.php","ajaxnonce":"54aa74ca8c"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/wordpress/wp-content/themes/essential/js/custom.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/themes/essential/js/jquery.selectbox-0.2.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce-simple-auctions/js/jquery.countdown.min.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var data = {"labels":{"Years":"Years","Months":"Months","Weeks":"Weeks","Days":"Days","Hours":"Hours","Minutes":"Minutes","Seconds":"Seconds"},"labels1":{"Year":"Year","Month":"Month","Week":"Week","Day":"Day","Hour":"Hour","Minute":"Minute","Second":"Second"},"compactLabels":{"y":"y","m":"m","w":"w","d":"d"}};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce-simple-auctions/js/jquery.countdown.language.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var data = {"finished":"Auction has finished!","gtm_offset":"0","started":"Auction has started! Please refresh your page."};
var SA_Ajax = {"ajaxurl":"\/?wc-ajax","najax":"1"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce-simple-auctions/js/simple-auction-frontend.js'></script>
    <script type='text/javascript' src='platform-api.sharethis.com/js/sharethis.js#product=ga'></script>
    <link rel='https://api.w.org/' href='wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="~/wordpress/xmlrpc0db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/wordpress/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.7.4" />
    <meta name="generator" content="WooCommerce 3.0.4" />
    <link rel="canonical" href="~/index.html" />
    <link rel='shortlink' href='~/index.html' />
    <link rel="alternate" type="application/json+oembed" href="~/wp-json/oembed/1.0/embed9d86.html?url=https%3A%2F%2Fessential.prospekt-solutions.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="~/wp-json/oembed/1.0/embed4192.html?url=https%3A%2F%2Fessential.prospekt-solutions.com%2F&amp;format=xml" />
    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="~/wordpress/wp-content/themes/essential/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="~/wordpress/wp-content/themes/essential/favicon.ico" />
    
</head>
<body class="home page-template-default page page-id-2106 layout-full slider-simple">


    
        

    <div id="wrapper">

        @Html.Action("Header","Home")<!-- #header -->

       @RenderBody()

         @Html.Action("Footer","Home")<!-- .site-footer -->

    </div><!-- #wrapper -->

    
    
    <style id="ssc-main-font">
        h1, h2, h3, h4, h5, h6, .widget .heading, #site-title a, #site-title, .entry-title {
            font-family: Carme;
        }
    </style>
    <style id="ssc-content-font">
        body {
            font-family: Carme;
        }
    </style>

    <link id="ssc-mainfontlink" href="http://fonts.googleapis.com/css?family=Carme" rel="stylesheet" type="text/css" />
    <link id="ssc-contentfontlink" href="http://fonts.googleapis.com/css?family=Carme" rel="stylesheet" type="text/css" />

    <link rel='stylesheet' id='ssc-color-style-css' href='~/wordpress/wp-content/themes/essential/css/blue.css' type='text/css' media='all' />

    
    <script>
    jQuery(document).ready(function () {
		jQuery.post('../../indexc766.html?ga_action=googleanalytics_get_script', {action: 'googleanalytics_get_script'}, function(response) {
			var F = new Function ( response );
			return( F() );
		});
    });
    </script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/simple-style-customizer/js/chosen.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/simple-style-customizer/js/jscolor.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/simple-style-customizer/js/jquery-cookie.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/simple-style-customizer/js/simple-style-customizer.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wordpress\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/product-category\/fashion\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/essential.prospekt-solutions.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wordpress\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/product-category\/fashion\/?wc-ajax=%%endpoint%%"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wordpress\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/product-category\/fashion\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-includes/js/wp-embed.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-includes/js/jquery/ui/core.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-includes/js/jquery/ui/widget.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-includes/js/jquery/ui/mouse.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-includes/js/jquery/ui/slider.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.min.js'></script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce/assets/js/accounting/accounting.min.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_price_slider_params = {"min_price":"","max_price":"","currency_format_num_decimals":"0","currency_format_symbol":"$","currency_format_decimal_sep":".","currency_format_thousand_sep":",","currency_format":"%s%v"};
var woocommerce_price_slider_params = {"currency_symbol":"$","currency_pos":"left","min_price":"","max_price":""};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/wordpress/wp-content/plugins/woocommerce/assets/js/frontend/price-slider.min.js'></script>
</body>
</html>