
@{
    ViewBag.Title = "Lostpassword";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="title-area clearfix main-color ">
    <div class="inner">
        <h1 class="title">My Account</h1>
        <nav class="woocommerce-breadcrumb"><a href="../../index.html">Home</a>&nbsp;&#47;&nbsp;<a href="../index.html">My Account</a>&nbsp;&#47;&nbsp;Lost password</nav>
    </div><!-- .inner -->
</div><!-- .title-area .clearfix -->

<div id="primary" class="content-area">

    <div class="inner">

        <div id="content" class="site-content" role="main">


            <article id="post-7" class="post-7 page type-page status-publish hentry">
                <div class="entry-wrap clearfix">

                    <div class="entry-content-wrap clearfix no-thumb">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-message"><a href="../../cart/index.html" class="button wc-forward">View cart</a> &ldquo;Invicta Men&#8217;s 8932 Pro Diver Collection Silver-Tone Watch&rdquo; has been added to your cart.</div>
                                <form method="post" class="woocommerce-ResetPassword lost_reset_password">
                                    <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
                                    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                        <label for="user_login">Username or email</label>
                                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="user_login" id="user_login" />
                                    </p>
                                    <div class="clear"></div>

                                    <p class="woocommerce-form-row form-row">
                                        <input type="hidden" name="wc_reset_password" value="true" />
                                        <input type="submit" class="woocommerce-Button button" value="Reset password" />
                                    </p>
                                    <input type="hidden" id="_wpnonce" name="_wpnonce" value="b1067dcab0" /><input type="hidden" name="_wp_http_referer" value="/my-account/lost-password/" />
                                </form>
                            </div>
                        </div><!-- .entry-content -->

                    </div><!-- .entry-content-wrap .clearfix .no-thumb -->
                </div><!-- .entry-wrap .clearfix -->
            </article><!-- #post-7 -->


        </div><!-- #content .site-content -->




    </div><!-- .inner -->

</div>

