
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="title-area clearfix main-color ">
    <div class="inner">
        <h1 class="title">Cart</h1>
        <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;Cart</nav>
    </div><!-- .inner -->
</div><!-- .title-area .clearfix -->

<div id="primary" class="content-area">

    <div class="inner">

        <div id="content" class="site-content" role="main">


            <article id="post-5" class="post-5 page type-page status-publish hentry">
                <div class="entry-wrap clearfix">

                    <div class="entry-content-wrap clearfix no-thumb">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <p class="cart-empty">
                                    Your cart is currently empty.
                                </p>

                                <p class="return-to-shop">
                                    <a class="button wc-backward" href="../shop/index.html">
                                        Return to shop
                                    </a>
                                </p>
                            </div>
                        </div><!-- .entry-content -->

                    </div><!-- .entry-content-wrap .clearfix .no-thumb -->
                </div><!-- .entry-wrap .clearfix -->
            </article><!-- #post-5 -->


        </div><!-- #content .site-content -->




    </div><!-- .inner -->

</div>
