
@{
    ViewBag.Title = "Anneklein";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="title-area clearfix main-color">
    <div class="inner">
        <div class="left-side-title">

            <h1 class="page-title">Anne Klein</h1>

            <nav class="woocommerce-breadcrumb"><a href="../../../index.html">Home</a>&nbsp;&#47;&nbsp;<a href="../index.html">Woman</a>&nbsp;&#47;&nbsp;Anne Klein</nav>
        </div>
        <div class="right-side-title">
            <div class="widget woocommerce widget_price_filter">
                <h2 class="widgettitle">Filter by price</h2><form method="get" action="https://essential.prospekt-solutions.com/product-category/woman-watch/anneklein/">
                    <div class="price_slider_wrapper">
                        <div class="price_slider" style="display:none;"></div>
                        <div class="price_slider_amount">
                            <input type="text" id="min_price" name="min_price" value="" data-min="324" placeholder="Min price" />
                            <input type="text" id="max_price" name="max_price" value="" data-max="587" placeholder="Max price" />
                            <button type="submit" class="button">Filter</button>
                            <div class="price_label" style="display:none;">
                                Price: <span class="from"></span> &mdash; <span class="to"></span>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </form>
            </div><div class='sorting'>
                <h2>Sort product</h2><form class="woocommerce-ordering" method="get">
                    <select name="orderby" class="orderby">
                        <option value="menu_order" selected='selected'>Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                        <option value="bid_asc">Sort by current bid: Low to high</option>
                        <option value="bid_desc">Sort by current bid: High to low</option>
                        <option value="auction_end">Sort auction by ending soonest</option>
                        <option value="auction_started">Sort auction by recently started</option>
                        <option value="auction_activity">Sort auction by most active</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="container">
    <div id="content" role="main">




        <ul class="products">


            <li class="post-1736 product type-product status-publish has-post-thumbnail product_cat-anneklein product_tag-anne-klein product_tag-woman first instock shipping-taxable purchasable product-type-simple">
                <a href="../../../product/anne-klein-womens-109652chto-gold-tone-tortoise-shell-plastic-bracelet-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/anne-klein-womens-109652chto-gold-tone-tortoise-shell-plastic-bracelet-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/10965-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="10965-1" title="10965-1" /></div>
                        <h3>Anne Klein Gold-Tone Tortoise Shell Plastic Bracelet</h3>
                        <span class='short-description'>The champagne dial and gold-tone accents on this...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>587.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/anne-klein-womens-109652chto-gold-tone-tortoise-shell-plastic-bracelet-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index35c6.html?add-to-cart=1736" rel="nofollow" data-product_id="1736" data-product_sku="10965" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1736" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1736" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1742 product type-product status-publish has-post-thumbnail product_cat-anneklein product_tag-anne-klein product_tag-woman  instock shipping-taxable purchasable product-type-simple">
                <a href="../../../product/anne-klein-womens-109443wtrd-silver-tone-white-dial-and-red-leather-strap-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/anne-klein-womens-109443wtrd-silver-tone-white-dial-and-red-leather-strap-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/10944-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="10944-1" title="10944-1" /></div>
                        <h3>Anne Klein Silver-Tone White Dial, Red Leather Strap</h3>
                        <span class='short-description'>White dial with Arabic numerals 12-3-6-9 and 8 i...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>324.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/anne-klein-womens-109443wtrd-silver-tone-white-dial-and-red-leather-strap-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index4e2b.html?add-to-cart=1742" rel="nofollow" data-product_id="1742" data-product_sku="10944" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1742" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1742" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

        </ul>


    </div>
</div>

