
@{
    ViewBag.Title = "Breitling";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="title-area clearfix main-color">
    <div class="inner">
        <div class="left-side-title">

            <h1 class="page-title">Breitling</h1>

            <nav class="woocommerce-breadcrumb"><a href="../../../index.html">Home</a>&nbsp;&#47;&nbsp;<a href="../index.html">Man</a>&nbsp;&#47;&nbsp;Breitling</nav>
        </div>
        <div class="right-side-title">
            <div class="widget woocommerce widget_price_filter">
                <h2 class="widgettitle">Filter by price</h2><form method="get" action="https://essential.prospekt-solutions.com/product-category/man/breitling/">
                    <div class="price_slider_wrapper">
                        <div class="price_slider" style="display:none;"></div>
                        <div class="price_slider_amount">
                            <input type="text" id="min_price" name="min_price" value="" data-min="150" placeholder="Min price" />
                            <input type="text" id="max_price" name="max_price" value="" data-max="1990" placeholder="Max price" />
                            <button type="submit" class="button">Filter</button>
                            <div class="price_label" style="display:none;">
                                Price: <span class="from"></span> &mdash; <span class="to"></span>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </form>
            </div><div class='sorting'>
                <h2>Sort product</h2><form class="woocommerce-ordering" method="get">
                    <select name="orderby" class="orderby">
                        <option value="menu_order" selected='selected'>Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                        <option value="bid_asc">Sort by current bid: Low to high</option>
                        <option value="bid_desc">Sort by current bid: High to low</option>
                        <option value="auction_end">Sort auction by ending soonest</option>
                        <option value="auction_started">Sort auction by recently started</option>
                        <option value="auction_activity">Sort auction by most active</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="container">
    <div id="content" role="main">




        <ul class="products">


            <li class="post-1787 product type-product status-publish has-post-thumbnail product_cat-breitling product_tag-breitling-2 product_tag-man-2 first instock shipping-taxable purchasable product-type-simple">
                <a href="../../../product/breitling-mens-superocean-chronograph-ii-chronograph-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/breitling-mens-superocean-chronograph-ii-chronograph-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/1334-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="1334-1" title="1334-1" /></div>
                        <h3>Breitling Men&#8217;s Superocean Chronograph Watch</h3>
                        <span class='short-description'>
                            Automatic
                            Case diameter: 44 mm
                            Chronogrpah wat...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>568.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/breitling-mens-superocean-chronograph-ii-chronograph-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index3a66.html?add-to-cart=1787" rel="nofollow" data-product_id="1787" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1787" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1787" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1779 product type-product status-publish has-post-thumbnail product_cat-breitling product_cat-ess product_cat-fortis product_tag-fortis-2 product_tag-man-2  instock shipping-taxable purchasable product-type-simple">
                <a href="../../../product/fortis-mens-flieger-automatic-chrono-alarm-blue-croco-leather-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/fortis-mens-flieger-automatic-chrono-alarm-blue-croco-leather-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/703-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="703-1" title="703-1" /></div>
                        <h3>Fortis Men&#8217;s Flieger Chrono-Alarm Croco Leather Watch</h3>
                        <span class='short-description'>Automatic Fortis chronograph alarm GMT calibre f...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>199.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/fortis-mens-flieger-automatic-chrono-alarm-blue-croco-leather-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index6ca0.html?add-to-cart=1779" rel="nofollow" data-product_id="1779" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1779" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1779" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-2343 product type-product status-publish has-post-thumbnail product_cat-breitling product_cat-ess product_cat-fortis product_tag-fortis-2 product_tag-man-2 last instock sold-individually shipping-taxable product-type-auction">
                <a href="../../../product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/703-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="703-1" title="703-1" /></div>
                        <span class="auction-bage"></span>
                        <h3>Fortis Men&#8217;s Flieger Chrono-Alarm Croco Leather Watch Auction</h3>
                        <span class='short-description'>Automatic Fortis chronograph alarm GMT calibre f...</span>
                        <span class="price"><span class="winned-for auction">Winning Bid:</span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,507.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>



                        <a href="#" data-product-id="2343" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="2343" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1684 product type-product status-publish has-post-thumbnail product_cat-breitling product_cat-gucci product_tag-gucci-2 product_tag-man-2 first instock shipping-taxable purchasable product-type-simple">
                <a href="../../../product/gucci-sync-xxl-ya137101-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/gucci-sync-xxl-ya137101-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/gucci-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="gucci-1" title="gucci-1" /></div>
                        <h3>Gucci SYNC XXL YA137101 Swiss ETA quartz Watch</h3>
                        <span class='short-description'>
                            High quality Swiss ETA quartz movement
                            Case dia...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>350.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/gucci-sync-xxl-ya137101-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index1c3f.html?add-to-cart=1684" rel="nofollow" data-product_id="1684" data-product_sku="13710" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1684" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1684" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1675 product type-product status-publish has-post-thumbnail product_cat-breitling product_cat-ess product_cat-tagheuer-man product_tag-armitron-2 product_tag-man-2 product_tag-tag-heuer  instock shipping-taxable purchasable product-type-simple">
                <a href="../../../product/armitron-mens-204604dgsvbk-swarovski-crystal-accented-dress-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/armitron-mens-204604dgsvbk-swarovski-crystal-accented-dress-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/2120-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="2120-1" title="2120-1" /></div>
                        <h3>Tag Heuer Aquaracer Blue Dial Yellow Stainless Steel Watch</h3>
                        <span class='short-description'>
                            Part Number WAK Model Year 2011
                            Item Shape Roun...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>150.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/armitron-mens-204604dgsvbk-swarovski-crystal-accented-dress-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index0c32.html?add-to-cart=1675" rel="nofollow" data-product_id="1675" data-product_sku="20460" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1675" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1675" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1783 product type-product status-publish has-post-thumbnail product_cat-breitling product_cat-versace-man product_tag-man-2 product_tag-versace-2 last instock shipping-taxable purchasable product-type-simple">
                <a href="../../../product/versace-mystique-sport-rose-gold-ion-plated-coated-date-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/versace-mystique-sport-rose-gold-ion-plated-coated-date-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/0500-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="0500-1" title="0500-1" /></div>
                        <h3>Versace Mystique Gold Ion-Plated Coated Date Watch</h3>
                        <span class='short-description'>
                            Ronda 5030D Swiss chrono quartz movement
                            Black ...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>951.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/versace-mystique-sport-rose-gold-ion-plated-coated-date-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index743e.html?add-to-cart=1783" rel="nofollow" data-product_id="1783" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1783" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1783" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

        </ul>


    </div>
</div>

