
@{
    ViewBag.Title = "Juicycouture";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="title-area clearfix main-color">
    <div class="inner">
        <div class="left-side-title">

            <h1 class="page-title">Juicy Cotoure</h1>

            <nav class="woocommerce-breadcrumb"><a href="../../../index.html">Home</a>&nbsp;&#47;&nbsp;<a href="../index.html">Woman</a>&nbsp;&#47;&nbsp;Juicy Cotoure</nav>
        </div>
        <div class="right-side-title">
            <div class="widget woocommerce widget_price_filter">
                <h2 class="widgettitle">Filter by price</h2><form method="get" action="https://essential.prospekt-solutions.com/product-category/woman-watch/juicycouture/">
                    <div class="price_slider_wrapper">
                        <div class="price_slider" style="display:none;"></div>
                        <div class="price_slider_amount">
                            <input type="text" id="min_price" name="min_price" value="" data-min="129" placeholder="Min price" />
                            <input type="text" id="max_price" name="max_price" value="" data-max="314" placeholder="Max price" />
                            <button type="submit" class="button">Filter</button>
                            <div class="price_label" style="display:none;">
                                Price: <span class="from"></span> &mdash; <span class="to"></span>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </form>
            </div><div class='sorting'>
                <h2>Sort product</h2><form class="woocommerce-ordering" method="get">
                    <select name="orderby" class="orderby">
                        <option value="menu_order" selected='selected'>Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                        <option value="bid_asc">Sort by current bid: Low to high</option>
                        <option value="bid_desc">Sort by current bid: High to low</option>
                        <option value="auction_end">Sort auction by ending soonest</option>
                        <option value="auction_started">Sort auction by recently started</option>
                        <option value="auction_activity">Sort auction by most active</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="container">
    <div id="content" role="main">




        <ul class="products">


            <li class="post-1766 product type-product status-publish has-post-thumbnail product_cat-juicycouture product_cat-mulco product_tag-juicy-cotoure product_tag-woman first instock sale shipping-taxable purchasable product-type-simple">
                <a href="../../../product/juicy-couture-womens-1901038-stella-gold-plated-bracelet-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/juicy-couture-womens-1901038-stella-gold-plated-bracelet-watch/index.html">

                        <span class="onsale">Sale!</span>
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/1901-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="1901-1" title="1901-1" /></div>
                        <h3>Juicy Couture Stella Gold Plated Bracelet Watch</h3>
                        <span class='short-description'>
                            Japanese-quartz movement
                            40mm gold plated stain...
                        </span>
                        <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>249.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>179.00</span></ins></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/juicy-couture-womens-1901038-stella-gold-plated-bracelet-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="indexc474.html?add-to-cart=1766" rel="nofollow" data-product_id="1766" data-product_sku="1901" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1766" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1766" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1720 product type-product status-publish has-post-thumbnail product_cat-juicycouture product_cat-michael-kors product_cat-mulco product_tag-michael-kors product_tag-woman  instock sale shipping-taxable purchasable product-type-simple">
                <a href="../../../product/michael-kors-camille-stainless-steel-white-dial-womens-watch-mk5756/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/michael-kors-camille-stainless-steel-white-dial-womens-watch-mk5756/index.html">

                        <span class="onsale">Sale!</span>
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/5756-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="5756-1" title="5756-1" /></div>
                        <h3>Michael Kors Camille Stainless Steel White Dial Women&#8217;s Watch</h3>
                        <span class='short-description'>
                            Brand:Michael Kors
                            Model: MK5756
                            Condition:bra...
                        </span>
                        <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>299.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>199.99</span></ins></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/michael-kors-camille-stainless-steel-white-dial-womens-watch-mk5756/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index5be1.html?add-to-cart=1720" rel="nofollow" data-product_id="1720" data-product_sku="5756" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1720" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1720" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1730 product type-product status-publish has-post-thumbnail product_cat-juicycouture product_cat-swiss-legend product_tag-swiss-legend-2 product_tag-woman last instock sale featured shipping-taxable purchasable product-type-simple">
                <a href="../../../product/swiss-legend-womens-20050-wwsr-karamica-collection-white-ceramic-bracelet-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/swiss-legend-womens-20050-wwsr-karamica-collection-white-ceramic-bracelet-watch/index.html">

                        <span class="onsale">Sale!</span>
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/20050-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="20050-1" title="20050-1" /></div>
                        <h3>Swiss Legend Women&#8217;s watch Karamica</h3>
                        <span class='short-description'>
                            As sophisticated as it is snowy white, this Sw...
                        </span>
                        <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>150.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>129.99</span></ins></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/swiss-legend-womens-20050-wwsr-karamica-collection-white-ceramic-bracelet-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index3a17.html?add-to-cart=1730" rel="nofollow" data-product_id="1730" data-product_sku="20050" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1730" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1730" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1724 product type-product status-publish has-post-thumbnail product_cat-juicycouture product_cat-timex-woman-watch product_tag-timex-2 product_tag-woman first instock shipping-taxable purchasable product-type-simple">
                <a href="../../../product/womans-ironman-sleek-50-lap-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../../product/womans-ironman-sleek-50-lap-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../../wordpress/wp-content/uploads/2013/08/50-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="50-1" title="50-1" /></div>
                        <h3>Womans Ironman Sleek 50-Lap Watch w Indiglo</h3>
                        <span class='short-description'>Product Features: INDIGLO Night-Light with Night...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>314.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../../product/womans-ironman-sleek-50-lap-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="indexdfca.html?add-to-cart=1724" rel="nofollow" data-product_id="1724" data-product_sku="50" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1724" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1724" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

        </ul>


    </div>
</div>

