
@{
    ViewBag.Title = "BlogRight";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="title-area clearfix main-color">
    <div class="inner">
        <h1 class="title">Go insane, or leave happy</h1>
        <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;<a href="../category/uncategorized/index.html">Uncategorized</a>&nbsp;&#47;&nbsp;Go insane, or leave happy</nav>
    </div><!-- .inner -->
</div><!-- .title-area .clearfix .main-color -->

<div id="primary" class="content-area">

    <div class="inner">

        <div id="content" class="site-content" role="main">


            <article id="post-1449" class="post-1449 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-clean tag-fresh">

                <div class="entry-wrap clearfix">

                    <div class="image-container">
                        <img width="697" height="266" src="../wordpress/wp-content/uploads/2013/09/blog2.jpg" class="attachment-large size-large" alt="" />
                    </div>


                    <div class="entry-content-wrap clearfix no-thumb">

                        <div class="entry-content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                        </div>

                        <footer class="entry-meta">
                            <p>
                                Posted on <a href="index.html" title="6:21 am" rel="bookmark"><time class="entry-date" datetime="2013-04-23T06:21:08+00:00" pubdate>April 23, 2013</time></a><span class="byline"> by <span class="author vcard"><a class="url fn n" href="../author/mlajo/index.html" title="View all posts by Prospekt" rel="author">Prospekt</a></span></span> <br />
                                This entry was posted in <a href="../category/uncategorized/index.html" rel="category tag">Uncategorized</a> and tagged <a href="../tag/clean/index.html" rel="tag">Clean</a>, <a href="../tag/fresh/index.html" rel="tag">Fresh</a>.
                            </p>

                        </footer><!-- .entry-meta -->



                    </div><!-- .entry-content-wrap .clearfix .no-thumb -->


                    <div id="comments" class="comments-area">




                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></h3><p class="must-log-in">You must be <a href="../wordpress/wp-logincc83.html?redirect_to=https%3A%2F%2Fessential.prospekt-solutions.com%2Fdemo-post-5%2F">logged in</a> to post a comment.</p>
                        </div><!-- #respond -->

                    </div><!-- #comments .comments-area -->
                </div><!-- .entry-wrap .clearfix -->

            </article><!-- #post-1449 -->


        </div><!-- #content .site-content -->





       

    </div><!-- .inner -->

</div>

