
@{
    ViewBag.Title = "Compare";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="title-area clearfix main-color">

    <div class="inner">
        <div class="left-side-title">
            <h1 class="page-title">Compare</h1>
            <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;Compare</nav>
        </div>
        <div class="right-side-title"></div>
    </div><!-- .inner -->

</div><!-- .title-area -->


<div id="primary" class="content-area">

    <div class="inner">

        <div id="content" class="site-content" role="main">



            <p class="woocommerce-info">No products found in your compare list.</p>



        </div><!-- .inner -->

    </div>

