
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="big-map">
    <iframe width="100%" height="400" frameborder="0" scrolling="no" margin height="400" marginwidth="100" src="https://maps.google.hr/maps/ms?msa=0&amp;msid=218361917246261304678.0004e18a26063768d0af7&amp;ie=UTF8&amp;t=m&amp;ll=42.423457,-57.304687&amp;spn=45.13946,140.625&amp;z=3&amp;output=embed"></iframe>

</div><!-- .big-map -->
<div class="clearfix main-color">
    <div class="inner">
        <h1 class="title">Contact</h1>
        <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;Contact</nav>
    </div><!-- .inner -->
</div>

<!-- .title-area .clearfix .main-color -->


<div class="stripe">
    <div class="inner">
        <p class="center">where can you buy our products</p>
    </div><!-- .inner -->
</div><!-- .stripe -->


<div id="primary" class="content-area">

    <div class="inner">

        <div class="contact-box-wrapper colums-2 first">
            <div class="map"><iframe width="100%" height="300px" frameborder="0" scrolling="no" margin height="300px" marginwidth="100%" src="http://maps.google.hr/maps/ms?msa=0&amp;msid=218361917246261304678.0004e18a26063768d0af7&amp;ie=UTF8&amp;t=m&amp;ll=45.3437,14.399986&amp;spn=0.084457,0.145912&amp;z=12&amp;output=embed"></iframe></div>
            <h3>Office</h3>
            <p>
                Company Name Ltd.
                1627 Hidden Wood, Maybee, Georgia,
                39962-7495, US, () 483-1394
                Tel: (852) 123 4565, Fax: (852) 2345 6789
                Email: enquiry@nameofthecompany.com
            </p>
        </div><!-- .contact-box-wrapper .colums-2 .first -->


        <div class="contact-box-wrapper colums-2">
            <div class="map"><iframe width="100%" height="300px" frameborder="0" scrolling="no" margin height="300px" marginwidth="100%" src="http://maps.google.hr/maps/ms?msa=0&amp;msid=218361917246261304678.0004e18a26063768d0af7&amp;ie=UTF8&amp;t=m&amp;ll=51.404346,-0.574036&amp;spn=0.599682,1.167297&amp;z=9&amp;output=embed"></iframe></div>
            <h3>Factory</h3>
            <p>
                Company production  Mfy Ltd.
                4576 Bright Promenade, Komak Wuacho, Taiwan
                69208-0762, US, (531) 441-5177
                Tel: (86) 123 456 789, Fax: (86) 123 456 789
                Email: factory@nameofthecompany.com
            </p>
        </div><!-- .contact-box-wrapper .colums-2 -->

        <div class="clear"></div>

        <div id="content" class="site-content" role="main">

        </div><!-- #content -->

    </div><!-- .inner -->

</div><!-- #primary .content-area -->



<div class="stripefoot clearfix">

    <div class="inner clearfix">

        <h3>Quick contact</h3>

        <article id="post-1565" class="post-1565 page type-page status-publish hentry">

            <div class="entry-wrap clearfix">

                <div class="entry-content-wrap clearfix">

                    <div class="quick-contact clearfix">

                        <div id="emailSuccess">Your message has been sent successfully. Thank you!</div>

                        <div id="maincontactform" class="cf">
                            <form action="#" id="contactform">
                                <p class="clearfix">
                                    <label for="name">First name<span>*</span></label>
                                    <input type="text" name="name" class="textfield" id="name" value="" />
                                </p>
                                <p class="clearfix">
                                    <label for="email">Email addres<span>*</span></label>
                                    <input type="text" name="email" class="textfield" id="email" value="" />
                                </p>
                                <p class="clearfix">
                                    <label for="message">Message<span>*</span></label>
                                    <textarea name="message" id="message" class="textarea" cols="2" rows="5"></textarea>
                                </p>
                                <p class="clearfix">
                                    <input type="submit" name="submit" class="contact submit" id="buttonsend" value="Send message" />
                                    <input type="hidden" name="siteurl" id="siteurl" value="../wordpress/wp-content/themes/essential/index.html" />
                                    <input type="hidden" name="postid" id="postid" value="1565" />
                                </p>
                                <p>
                                    <span class="loading" style="display: none;">Please wait...</span>
                                </p>
                            </form><!-- #contactform -->

                        </div><!-- #maincontactform .cf -->

                    </div><!-- .entry-content-wrap .clearfix -->

                    <div class="entry-content clearfix">
                        <p><strong>NAME is one of the leading leather goods manufacturers</strong>, specializing in producing high-end small leather goods and leather handbags. Donec id leo a neque hendrerit convallis. Quisque est augue, ullamcorper eget egestas nec, ultricies sit amet est. Maecenas dignissim nunc ac dolor luctus congue. Curabitur aliquam euismod egestas. Donec in elit nulla, a mollis sem. Etiam pharetra, magna at vehicula rutrum, libero eros ultricies justo, eu venenatis massa magna eget nisi. Suspendisse rutrum, lorem ut aliquet pretium.</p>
                    </div>

                </div><!-- .entry-content-wrap .clearfix -->

            </div><!-- .entry-wrap .clearfix -->

        </article><!-- #post-1565 -->

    </div><!-- .inner .clearfix -->

</div>

