
@{
    ViewBag.Title = "Featured";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="title-area clearfix main-color">
    <div class="inner">
        <div class="left-side-title">

            <h1 class="page-title">Fashion</h1>

            <nav class="woocommerce-breadcrumb"><a href="../../index.html">Home</a>&nbsp;&#47;&nbsp;Fashion</nav>
        </div>
        <div class="right-side-title">
            <div class="widget woocommerce widget_price_filter">
                <h2 class="widgettitle">Filter by price</h2><form method="get" action="https://essential.prospekt-solutions.com/product-category/fashion/">
                    <div class="price_slider_wrapper">
                        <div class="price_slider" style="display:none;"></div>
                        <div class="price_slider_amount">
                            <input type="text" id="min_price" name="min_price" value="" data-min="38" placeholder="Min price" />
                            <input type="text" id="max_price" name="max_price" value="" data-max="84" placeholder="Max price" />
                            <button type="submit" class="button">Filter</button>
                            <div class="price_label" style="display:none;">
                                Price: <span class="from"></span> &mdash; <span class="to"></span>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </form>
            </div><div class='sorting'>
                <h2>Sort product</h2><form class="woocommerce-ordering" method="get">
                    <select name="orderby" class="orderby">
                        <option value="menu_order" selected='selected'>Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                        <option value="bid_asc">Sort by current bid: Low to high</option>
                        <option value="bid_desc">Sort by current bid: High to low</option>
                        <option value="auction_end">Sort auction by ending soonest</option>
                        <option value="auction_started">Sort auction by recently started</option>
                        <option value="auction_activity">Sort auction by most active</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="container">
    <div id="content" role="main">

        <ul class="products">


            <li class="post-1590 product type-product status-publish has-post-thumbnail product_cat-invicta product_tag-fashion-2 product_tag-invicta-2 first instock featured shipping-taxable purchasable product-type-simple">
                <a href="../../product/invicta-mens-6620-ii-collection-chronograph-stainless-steel-silver-dial-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/invicta-mens-6620-ii-collection-chronograph-stainless-steel-silver-dial-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/6620-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="6620-1" title="6620-1" /></div>
                        <h3>Invicta Men&#8217;s 6620 II Chrome Silver Dial Watch</h3>
                        <span class='short-description'>With its polished stainless case and durable fla...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>69.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/invicta-mens-6620-ii-collection-chronograph-stainless-steel-silver-dial-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="indexc5f3.html?add-to-cart=1590" rel="nofollow" data-product_id="1590" data-product_sku="6620" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1590" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1590" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1579 product type-product status-publish has-post-thumbnail product_cat-invicta product_tag-fashion-2 product_tag-watch  instock sale shipping-taxable purchasable product-type-simple">
                <a href="../../product/invicta-mens-8932-pro-diver-collection-silver-tone-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/invicta-mens-8932-pro-diver-collection-silver-tone-watch/index.html">

                        <span class="onsale">Sale!</span>
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/invicta-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="invicta-1" title="invicta-1" /></div>
                        <h3>Invicta Men&#8217;s 8932 Pro Diver Collection Silver-Tone Watch</h3>
                        <span class='short-description'>Big, bold and masculine, the Invicta Quartz Pro ...</span>
                        <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>49.99</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>44.99</span></ins></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/invicta-mens-8932-pro-diver-collection-silver-tone-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="indexcf63.html?add-to-cart=1579" rel="nofollow" data-product_id="1579" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1579" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1579" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1601 product type-product status-publish has-post-thumbnail product_cat-invicta product_tag-fashion-2 product_tag-invicta-2 last instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/invicta-mens-9211-speedway-collection-chronograph-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/invicta-mens-9211-speedway-collection-chronograph-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/9211-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="9211-1" title="9211-1" /></div>
                        <h3>Invicta Men&#8217;s 9211 Speedway Collection Chronograph Watch</h3>
                        <span class='short-description'>Classically styled and channeling your need for ...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>84.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/invicta-mens-9211-speedway-collection-chronograph-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="indexa96b.html?add-to-cart=1601" rel="nofollow" data-product_id="1601" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1601" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1601" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1584 product type-product status-publish has-post-thumbnail product_cat-invicta product_tag-fashion-2 product_tag-invicta-2 first instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/invicta-mens-9212-speedway-collection-chronograph-s-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/invicta-mens-9212-speedway-collection-chronograph-s-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/9212-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="9212-1" title="9212-1" /></div>
                        <h3>Invicta Men&#8217;s 9212 Speedway Collection Chronograph S Watch</h3>
                        <span class='short-description'>Assembled by hand with meticulous attention to d...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>51.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/invicta-mens-9212-speedway-collection-chronograph-s-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index990d.html?add-to-cart=1584" rel="nofollow" data-product_id="1584" data-product_sku="9219" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1584" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1584" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1595 product type-product status-publish has-post-thumbnail product_cat-nautica product_tag-fashion-2 product_tag-nautica-2  instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/nautica-mens-n14536-nst-chronograph-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/nautica-mens-n14536-nst-chronograph-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/14536-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="14536-1" title="14536-1" /></div>
                        <h3>Nautica Men&#8217;s N14536 NST Chronograph Watch</h3>
                        <span class='short-description'>Introduced in 1994, Nautica Watches for men and ...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>56.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/nautica-mens-n14536-nst-chronograph-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index7db7.html?add-to-cart=1595" rel="nofollow" data-product_id="1595" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1595" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1595" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1607 product type-product status-publish has-post-thumbnail product_cat-uspolo product_tag-fashion-2 product_tag-u-s-polo last instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/u-s-polo-assn-classic-mens-us5159-silver-dial-black-strap-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/u-s-polo-assn-classic-mens-us5159-silver-dial-black-strap-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/5159-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="5159-1" title="5159-1" /></div>
                        <h3>U.S. Polo Assn. Classic Silver Dial Black Strap Watch</h3>
                        <span class='short-description'>The U.S. Polo Association time wear collection c...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>38.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/u-s-polo-assn-classic-mens-us5159-silver-dial-black-strap-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="indexfb17.html?add-to-cart=1607" rel="nofollow" data-product_id="1607" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1607" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1607" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1279 product type-product status-publish has-post-thumbnail product_cat-fashion product_cat-xoxo first instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/bodum-brazil-coffee-press-8-cup/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/bodum-brazil-coffee-press-8-cup/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2012/12/xoxo-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="xoxo" title="xoxo" /></div>
                        <h3>XOXO Rhinestone Accent Gold-Tone Bracelet Watch</h3>
                        <span class='short-description'>The casual and fashionable XOXO Women&#039;s Rhi...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>43.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/bodum-brazil-coffee-press-8-cup/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index5beb.html?add-to-cart=1279" rel="nofollow" data-product_id="1279" data-product_sku="W027" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1279" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1279" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1617 product type-product status-publish has-post-thumbnail product_cat-xoxo product_tag-xoxo product_tag-fashion-2  instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/xoxo-womens-xo5301a-rhinestone-accent-silver-tone-bracelet-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/xoxo-womens-xo5301a-rhinestone-accent-silver-tone-bracelet-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/5301-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="5301-1" title="5301-1" /></div>
                        <h3>XOXO Rhinestone Accent Silver-Tone Bracelet Watch</h3>
                        <span class='short-description'>The casual and fashionable XOXO Women&#039;s Rhi...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>43.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/xoxo-womens-xo5301a-rhinestone-accent-silver-tone-bracelet-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index203d.html?add-to-cart=1617" rel="nofollow" data-product_id="1617" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1617" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1617" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1613 product type-product status-publish has-post-thumbnail product_cat-xoxo product_tag-xoxo product_tag-fashion-2 last instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/xoxo-womens-xo5429-rhinestone-accent-two-tone-bracelet-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/xoxo-womens-xo5429-rhinestone-accent-two-tone-bracelet-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/5429-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="5429-1" title="5429-1" /></div>
                        <h3>XOXO Rhinestone Accent Two-Tone Bracelet Watch</h3>
                        <span class='short-description'>Experience the XOXO Women&#039;s Rhinestone Acce...</span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>45.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/xoxo-womens-xo5429-rhinestone-accent-two-tone-bracelet-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index7b8e.html?add-to-cart=1613" rel="nofollow" data-product_id="1613" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1613" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1613" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

        </ul>


    </div>
</div>






