
@{
    ViewBag.Title = "Featured_Luxury";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="title-area clearfix main-color">
    <div class="inner">
        <div class="left-side-title">

            <h1 class="page-title">Luxury</h1>

            <nav class="woocommerce-breadcrumb"><a href="../../index.html">Home</a>&nbsp;&#47;&nbsp;Luxury</nav>
        </div>
        <div class="right-side-title">
            <div class="widget woocommerce widget_price_filter">
                <h2 class="widgettitle">Filter by price</h2><form method="get" action="https://essential.prospekt-solutions.com/product-category/luxury/">
                    <div class="price_slider_wrapper">
                        <div class="price_slider" style="display:none;"></div>
                        <div class="price_slider_amount">
                            <input type="text" id="min_price" name="min_price" value="" data-min="1130" placeholder="Min price" />
                            <input type="text" id="max_price" name="max_price" value="" data-max="2364" placeholder="Max price" />
                            <button type="submit" class="button">Filter</button>
                            <div class="price_label" style="display:none;">
                                Price: <span class="from"></span> &mdash; <span class="to"></span>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </form>
            </div><div class='sorting'>
                <h2>Sort product</h2><form class="woocommerce-ordering" method="get">
                    <select name="orderby" class="orderby">
                        <option value="menu_order" selected='selected'>Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                        <option value="bid_asc">Sort by current bid: Low to high</option>
                        <option value="bid_desc">Sort by current bid: High to low</option>
                        <option value="auction_end">Sort auction by ending soonest</option>
                        <option value="auction_started">Sort auction by recently started</option>
                        <option value="auction_activity">Sort auction by most active</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="container">
    <div id="content" role="main">




        <ul class="products">


            <li class="post-1716 product type-product status-publish has-post-thumbnail product_cat-ebel product_tag-ebel-2 product_tag-luxury-2 first instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/ebel-mens-9305f715335145gs-classic-hexagon-chronograph-black-chronograph-dial-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/ebel-mens-9305f715335145gs-classic-hexagon-chronograph-black-chronograph-dial-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/9305-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="9305-1" title="9305-1" /></div>
                        <h3>Ebel Classic Hexagon Black Chronograph Dial Watch</h3>
                        <span class='short-description'>
                            Automatic movement
                            Black chronograph dial
                            Blac...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>2,364.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/ebel-mens-9305f715335145gs-classic-hexagon-chronograph-black-chronograph-dial-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index92e3.html?add-to-cart=1716" rel="nofollow" data-product_id="1716" data-product_sku="9305" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1716" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1716" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1705 product type-product status-publish has-post-thumbnail product_cat-ebel product_tag-ebel-2 product_tag-luxury-2  instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/ebel-mens-9120r416430136-classic-mens-silver-dial-black-strap-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/ebel-mens-9120r416430136-classic-mens-silver-dial-black-strap-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/9120-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="9120-1" title="9120-1" /></div>
                        <h3>Ebel Classic Mens Silver dial Black Strap Watch</h3>
                        <span class='short-description'>
                            Automaitc movement
                            Silver limited dial
                            Black l...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,194.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/ebel-mens-9120r416430136-classic-mens-silver-dial-black-strap-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index4d14.html?add-to-cart=1705" rel="nofollow" data-product_id="1705" data-product_sku="9120" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1705" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1705" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1694 product type-product status-publish has-post-thumbnail product_cat-katespade product_cat-mauricelacroix product_tag-luxury-2 product_tag-maurice-lacroix last instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/maurice-lacroix-pontos-mens-watch-pt7558-ps101130/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/maurice-lacroix-pontos-mens-watch-pt7558-ps101130/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/7558-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="7558-1" title="7558-1" /></div>
                        <h3>Maurice Lacroix Pontos Mens Watch PT7558-PS101130</h3>
                        <span class='short-description'>


                            Band Color
                            Brown


                            Dial color
                            Silver
                            ...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>2,200.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/maurice-lacroix-pontos-mens-watch-pt7558-ps101130/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index1b20.html?add-to-cart=1694" rel="nofollow" data-product_id="1694" data-product_sku="7558" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1694" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1694" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1699 product type-product status-publish has-post-thumbnail product_cat-fossil product_cat-katespade product_cat-mulco product_cat-raymondweil product_tag-luxury-2 product_tag-raymond-weil first instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/raymond-weil-mens-4878-stc-00200-don-giovanni-cosi-grande-stainless-steel/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/raymond-weil-mens-4878-stc-00200-don-giovanni-cosi-grande-stainless-steel/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/4878-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="4878-1" title="4878-1" /></div>
                        <h3>Raymond Weil Don Giovanni Cosi Grande Stainless Steel</h3>
                        <span class='short-description'>
                            Swiss automatic movement
                            Antireflective-sapphir...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,165.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/raymond-weil-mens-4878-stc-00200-don-giovanni-cosi-grande-stainless-steel/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="indexca31.html?add-to-cart=1699" rel="nofollow" data-product_id="1699" data-product_sku="4878" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1699" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1699" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1710 product type-product status-publish has-post-thumbnail product_cat-tagheuer product_tag-luxury-2 product_tag-tag-heuer  instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/tag-heuer-mens-wap111z-ba0831-aquaracer-black-dial-watch/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/tag-heuer-mens-wap111z-ba0831-aquaracer-black-dial-watch/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/0831-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="0831-1" title="0831-1" /></div>
                        <h3>TAG Heuer Men&#8217;s Aquaracer Black Dial Watch</h3>
                        <span class='short-description'>
                            Quartz movement
                            Case diameter: 39 mm
                            Stainless...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,404.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/tag-heuer-mens-wap111z-ba0831-aquaracer-black-dial-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index999e.html?add-to-cart=1710" rel="nofollow" data-product_id="1710" data-product_sku="0831" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1710" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1710" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

            <li class="post-1690 product type-product status-publish has-post-thumbnail product_cat-tagheuer product_tag-luxury-2 product_tag-tag-heuer last instock shipping-taxable purchasable product-type-simple">
                <a href="../../product/tag-heuer-mens-aquaracer-stainless-steel-watch-wan2111-ba0822/index.html" class="woocommerce-LoopProduct-link">
                    <a href="../../product/tag-heuer-mens-aquaracer-stainless-steel-watch-wan2111-ba0822/index.html">
                        <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/0822-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="0822-1" title="0822-1" /></div>
                        <h3>TAG Heuer Men&#8217;s Aquaracer Stainless Steel Watch</h3>
                        <span class='short-description'>
                            TAG Heuer Calibre 5 Swiss automatic movement
                            ...
                        </span>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,130.00</span></span>
                    </a>
                    <div class="action-buttons">
                        <a href="../../product/tag-heuer-mens-aquaracer-stainless-steel-watch-wan2111-ba0822/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                        <a href="index0db9.html?add-to-cart=1690" rel="nofollow" data-product_id="1690" data-product_sku="0822" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                        <a href="#" data-product-id="1690" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                        <a href="#" data-product-id="1690" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                    </div>	<div class='circle-wrapper'>
                        <span>+</span>

                    </div>
                </a>
            </li>

        </ul>


    </div>
</div>




<div id="sidebar">

    <section id="recent_auctions-4" class="widget woocommerce widget_recent_auctions">
        <h3 class="widget-title bg-color2">New Auctions</h3><ul class="product_list_widget">
            <li>
                <a href="../../product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html">
                    <img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/703-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" /> Fortis Men&#8217;s Flieger Chrono-Alarm Croco Leather Watch Auction
                </a> <span class="winned-for auction">Winning Bid:</span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,507.00</span><span class="has-finished">Auction finished</span>

            </li>
        </ul>
    </section><section id="woocommerce_products-2" class="widget woocommerce widget_products">
        <h3 class="widget-title bg-color2">New Products</h3><ul class="product_list_widget">
            <li>
                <a href="../../product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html">
                    <img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/703-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" />		<span class="product-title">Fortis Men's Flieger Chrono-Alarm Croco Leather Watch Auction</span>
                </a>
                <span class="winned-for auction">Winning Bid:</span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,507.00</span>
            </li>
            <li>
                <a href="../../product/swatch-womens-quartz-rainbow-dial-plastic-watch-auction/index.html">
                    <img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/09/124-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" />		<span class="product-title">Swatch Women's Quartz Rainbow Dial Plastic Watch Auction</span>
                </a>
                <span class="auction-price" data-auction-id="2342" data-bid="4" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>4.00</span></span>
            </li>
        </ul>
    </section>
</div><!-- #sidebar -->

<footer class="site-footer fix">


    <div class="upper-footer main-color clearfix">

        <div class="inner area-count-4 clearfix">

            <div class="widget-area-box">
                <section id="text-2" class="widget widget_text">
                    <h3 class="widget-title">Social networks</h3>			<div class="textwidget">
                        <a href="http://www.twitter.com/" class="social"><img src="../../wordpress/wp-content/uploads/2013/09/facebook_dark.png" alt="facebook" /></a>

                        <a href="http://www.facebook.com/" class="social">
                            <img src="../../wordpress/wp-content/uploads/2013/09/twitter02_dark.png" alt="twitter" />
                        </a>
                        <a href="http://www.pinterest.com/" class="social">
                            <img src="../../wordpress/wp-content/uploads/2013/09/in_dark.png" alt="in" />
                        </a>
                        <a href="http://www.skype.com/" class="social"><img src="../../wordpress/wp-content/uploads/2013/09/sk_dark.png" alt="sk" /></a>
                    </div>
                </section>		<section id="recent-posts-3" class="widget widget_recent_entries">
                    <h3 class="widget-title">Recent posts</h3>		<ul>
                        <li>
                            <a href="../../million-of-good-reasons/index.html">Million of good reasons</a>
                        </li>
                        <li>
                            <a href="../../hello-world/index.html">Watches to Die for!</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="widget-area-box">
                <section id="tag_cloud-2" class="widget widget_tag_cloud">
                    <h3 class="widget-title">Tag cloud</h3><div class="tagcloud">
                        <a href='../../tag/clean/index.html' class='tag-link-65 tag-link-position-1' title='1 topic' style='font-size: 8pt;'>Clean</a>
                        <a href='../../tag/fresh/index.html' class='tag-link-66 tag-link-position-2' title='1 topic' style='font-size: 8pt;'>Fresh</a>
                        <a href='../../tag/nice/index.html' class='tag-link-64 tag-link-position-3' title='1 topic' style='font-size: 8pt;'>Nice</a>
                        <a href='../../tag/responsive/index.html' class='tag-link-63 tag-link-position-4' title='1 topic' style='font-size: 8pt;'>Responsive</a>
                        <a href='../../tag/saimle/index.html' class='tag-link-62 tag-link-position-5' title='1 topic' style='font-size: 8pt;'>Saimle</a>
                    </div>
                </section><section id="search-3" class="widget widget_search">
                    <h3 class="widget-title">Search</h3><form role="search" method="get" id="searchform" class="searchform" action="https://essential.prospekt-solutions.com/">
                        <div>
                            <label class="screen-reader-text" for="s">Search for:</label>
                            <input type="text" value="" name="s" id="s" />
                            <input type="submit" id="searchsubmit" value="Search" />
                        </div>
                    </form>
                </section>
            </div>
            <div class="widget-area-box">
                <section id="meta-4" class="widget widget_meta">
                    <h3 class="widget-title">Meta</h3>			<ul>
                        <li><a href="../../wordpress/wp-login.html">Log in</a></li>
                        <li><a href="../../feed/index.html">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                        <li><a href="../../comments/feed/index.html">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                        <li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
                    </ul>
                </section>
            </div>
            <div class="widget-area-box">
                <section id="recent_auctions-2" class="widget woocommerce widget_recent_auctions">
                    <h3 class="widget-title">Recent Auction</h3><ul class="product_list_widget">
                        <li>
                            <a href="../../product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html">
                                <img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/703-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" /> Fortis Men&#8217;s Flieger Chrono-Alarm Croco Leather Watch Auction
                            </a> <span class="winned-for auction">Winning Bid:</span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,507.00</span><span class="has-finished">Auction finished</span>

                        </li>
                    </ul>
                </section>
            </div>

        </div><!-- .inner -->

    </div><!-- .upper-footer -->

