
@{
    ViewBag.Title = "ItemRight";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="title-area clearfix main-color ">
    <div class="inner">

        <h1 class="page-title">Shop</h1>

        <nav class="woocommerce-breadcrumb"><a href="../../index.html">Home</a>&nbsp;&#47;&nbsp;<a href="../../product-category/man/index.html">Man</a>&nbsp;&#47;&nbsp;<a href="../../product-category/man/stuhrling/index.html">Stuhrling</a>&nbsp;&#47;&nbsp;Stuhrling Champion Alpine Automatic Skeleton Strap Watch</nav>
    </div>
</div>
<div id="container">
    <div id="content" role="main">



        <div itemscope itemtype="http://schema.org/Product" id="product-1663" class="post-1663 product type-product status-publish has-post-thumbnail product_cat-stuhrling product_tag-man-2 product_tag-stuhrling-2 first instock shipping-taxable purchasable product-type-simple">
            <div class="images">
                <div id="big-image-product">
                    <img width="480" height="480" src="../../wordpress/wp-content/uploads/2013/08/396-1-480x480.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/396-1.jpg" />
                </div>
                <div id="product-thumbnails" class="carusel">
                    <div class="buttons-container">
                        <a class="buttons prev" href="#" data-icon="&#xe0d5;"></a>
                        <a class="buttons next" href="#" data-icon="&#xe0d8;"></a>
                    </div>
                    <div class="viewport">
                        <ul class="products">
                            <li>
                                <a href="../../wordpress/wp-content/uploads/2013/08/396-1-480x480.jpg">					            			<img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/396-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/396-1.jpg" />											</a>
                            </li>
                            <li>
                                <a href="../../wordpress/wp-content/uploads/2013/08/396-2-480x480.jpg">					            			<img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/396-2-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/396-2.jpg" />											</a>
                            </li>
                            <li>
                                <a href="../../wordpress/wp-content/uploads/2013/08/396-3-480x480.jpg">					            			<img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/396-3-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/396-3.jpg" />											</a>
                            </li>
                            <li>
                                <a href="../../wordpress/wp-content/uploads/2013/08/396-4-480x480.jpg">					            			<img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/396-4-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/396-4.jpg" />											</a>
                            </li>
                            <li>
                                <a href="../../wordpress/wp-content/uploads/2013/08/396-1-480x480.jpg">					            			<img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/396-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/396-1.jpg" />											</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="summary entry-summary">
                <h1 class="product_title entry-title">Stuhrling Champion Alpine Automatic Skeleton Strap Watch</h1><p class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>104.00</span></p>
                <div itemprop="description">

                    <p>
                        Polished black pvd layered stainless steel case and blue bezel<br />
                        Protective krysterna crystal on front and back<br />
                        Skeleton dial with propeller faceplate and and seconds track along outer dial<br />
                        Black pvd layered stainless steel mesh bracelet with tang buckle<br />
                        Water-resistant to 50 M (165 feet)
                    </p>

                </div>

                <form class="cart" method="post" enctype='multipart/form-data'>
                    <div class="quantity">
                        <input type="number" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" />
                    </div>

                    <button type="submit" name="add-to-cart" value="1663" class="single_add_to_cart_button button alt">Add to cart</button>
                </form>

                <div class="clear"></div><div class="action_bar"><div class="wishlist"><a href="#" data-product-id="1663" class="add-wishlist" data-icon="&#xe01a;">Add to Wishlist</a></div><div class="compare"><a data-product-id="1663" class="add-compare" data-icon="&#xe09a;">Add to Compare</a></div></div><div class="product_meta">


                    <span class="sku_wrapper">SKU: <span class="sku">396</span></span>

                    <span class="posted_in">Category: <a href="../../product-category/man/stuhrling/index.html" rel="tag">Stuhrling</a></span>
                    <span class="tagged_as">Tags: <a href="../../product-tag/man-2/index.html" rel="tag">man</a>, <a href="../../product-tag/stuhrling-2/index.html" rel="tag">stuhrling</a></span>

                </div>

            </div><!-- .summary -->
            <div class="clear"></div>

            <div class="woocommerce-tabs wc-tabs-wrapper">
                <ul class="tabs wc-tabs" role="tablist">
                    <li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
                        <a href="#tab-description">Description</a>
                    </li>
                    <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                        <a href="#tab-reviews">Reviews (0)</a>
                    </li>
                </ul>
                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">

                    <h2>Description</h2>
                    <p>A new take on its most recent predecessor, the Alpine Challenge, Stuhrling Original brings you a brand new timepiece that redefines the way everyone looks at style and elegance. This watch combines the dressy look of a skeleton watch with the blazing personality of a sport watch.</p>
                </div>
                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                    <div id="reviews" class="woocommerce-Reviews">
                        <div id="comments">
                            <h2 class="woocommerce-Reviews-title">Reviews</h2>

                            <p class="woocommerce-noreviews">There are no reviews yet.</p>
                        </div>

                        <div id="review_form_wrapper">
                            <div id="review_form">
                                <div id="respond" class="comment-respond">
                                    <span id="reply-title" class="comment-reply-title">Be the first to review &ldquo;Stuhrling Champion Alpine Automatic Skeleton Strap Watch&rdquo; <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></span><p class="must-log-in">You must be <a href="../../my-account/index.html">logged in</a> to post a review.</p>
                                </div><!-- #respond -->
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="related products carusel">

                <h2>Related Products</h2>
                <div class="buttons-container">
                    <a class="buttons prev" href="#" data-icon="&#xe0d5;"></a>
                    <a class="buttons next" href="#" data-icon="&#xe0d8;"></a>
                </div>
                <div class="viewport">
                    <ul class="products">


                        <li class="post-2343 product type-product status-publish has-post-thumbnail product_cat-breitling product_cat-ess product_cat-fortis product_tag-fortis-2 product_tag-man-2 first instock sold-individually shipping-taxable product-type-auction">
                            <a href="../fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/703-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="703-1" title="703-1" /></div>
                                    <span class="auction-bage"></span>
                                    <h3>Fortis Men&#8217;s Flieger Chrono-Alarm Croco Leather Watch Auction</h3>
                                    <span class='short-description'>Automatic Fortis chronograph alarm GMT calibre f...</span>
                                    <span class="price"><span class="winned-for auction">Winning Bid:</span> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,507.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>



                                    <a href="#" data-product-id="2343" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="2343" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                        <li class="post-1787 product type-product status-publish has-post-thumbnail product_cat-breitling product_tag-breitling-2 product_tag-man-2  instock shipping-taxable purchasable product-type-simple">
                            <a href="../breitling-mens-superocean-chronograph-ii-chronograph-watch/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../breitling-mens-superocean-chronograph-ii-chronograph-watch/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/1334-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="1334-1" title="1334-1" /></div>
                                    <h3>Breitling Men&#8217;s Superocean Chronograph Watch</h3>
                                    <span class='short-description'>
                                        Automatic
                                        Case diameter: 44 mm
                                        Chronogrpah wat...
                                    </span>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>568.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../breitling-mens-superocean-chronograph-ii-chronograph-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                                    <a href="index3a66.html?add-to-cart=1787" rel="nofollow" data-product_id="1787" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                                    <a href="#" data-product-id="1787" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="1787" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                        <li class="post-1779 product type-product status-publish has-post-thumbnail product_cat-breitling product_cat-ess product_cat-fortis product_tag-fortis-2 product_tag-man-2  instock shipping-taxable purchasable product-type-simple">
                            <a href="../fortis-mens-flieger-automatic-chrono-alarm-blue-croco-leather-watch/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../fortis-mens-flieger-automatic-chrono-alarm-blue-croco-leather-watch/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/703-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="703-1" title="703-1" /></div>
                                    <h3>Fortis Men&#8217;s Flieger Chrono-Alarm Croco Leather Watch</h3>
                                    <span class='short-description'>Automatic Fortis chronograph alarm GMT calibre f...</span>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>199.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../fortis-mens-flieger-automatic-chrono-alarm-blue-croco-leather-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                                    <a href="index6ca0.html?add-to-cart=1779" rel="nofollow" data-product_id="1779" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                                    <a href="#" data-product-id="1779" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="1779" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                        <li class="post-1675 product type-product status-publish has-post-thumbnail product_cat-breitling product_cat-ess product_cat-tagheuer-man product_tag-armitron-2 product_tag-man-2 product_tag-tag-heuer last instock shipping-taxable purchasable product-type-simple">
                            <a href="../armitron-mens-204604dgsvbk-swarovski-crystal-accented-dress-watch/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../armitron-mens-204604dgsvbk-swarovski-crystal-accented-dress-watch/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/2120-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="2120-1" title="2120-1" /></div>
                                    <h3>Tag Heuer Aquaracer Blue Dial Yellow Stainless Steel Watch</h3>
                                    <span class='short-description'>
                                        Part Number WAK Model Year 2011
                                        Item Shape Roun...
                                    </span>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>150.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../armitron-mens-204604dgsvbk-swarovski-crystal-accented-dress-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                                    <a href="index0c32.html?add-to-cart=1675" rel="nofollow" data-product_id="1675" data-product_sku="20460" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                                    <a href="#" data-product-id="1675" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="1675" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                        <li class="post-1669 product type-product status-publish has-post-thumbnail product_cat-stuhrling product_tag-man-2 product_tag-stuhrling-2 first instock featured shipping-taxable purchasable product-type-simple">
                            <a href="../stuhrling-original-mens-228-33l5c3-symphony-saturnalia-brumalia-mechanical-skeleton-blue-watch/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../stuhrling-original-mens-228-33l5c3-symphony-saturnalia-brumalia-mechanical-skeleton-blue-watch/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/228-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="228-1" title="228-1" /></div>
                                    <h3>Stuhrling Original Men&#8217;s Symphony Blue Watch</h3>
                                    <span class='short-description'>Quality Mechanical movement with 40 hour power r...</span>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>205.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../stuhrling-original-mens-228-33l5c3-symphony-saturnalia-brumalia-mechanical-skeleton-blue-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                                    <a href="index6f1a.html?add-to-cart=1669" rel="nofollow" data-product_id="1669" data-product_sku="228" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                                    <a href="#" data-product-id="1669" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="1669" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>

        </div><!-- #product-1663 -->


    </div>
</div>

