
@{
    ViewBag.Title = "ItemFull";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}


<div class="title-area clearfix main-color ">
    <div class="inner">

        <h1 class="page-title">Shop</h1>

        <nav class="woocommerce-breadcrumb"><a href="../../index.html">Home</a>&nbsp;&#47;&nbsp;<a href="../../product-category/woman-watch/index.html">Woman</a>&nbsp;&#47;&nbsp;<a href="../../product-category/woman-watch/juicycouture/index.html">Juicy Cotoure</a>&nbsp;&#47;&nbsp;Juicy Couture Stella Gold Plated Bracelet Watch</nav>
    </div>
</div>
<div id="container">
    <div id="content" role="main">



        <div itemscope itemtype="http://schema.org/Product" id="product-1766" class="post-1766 product type-product status-publish has-post-thumbnail product_cat-juicycouture product_cat-mulco product_tag-juicy-cotoure product_tag-woman first instock sale shipping-taxable purchasable product-type-simple">

            <span class="onsale">Sale!</span>
            <div class="images">
                <div id="big-image-product">
                    <img width="480" height="480" src="../../wordpress/wp-content/uploads/2013/08/1901-1-480x480.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/1901-1.jpg" />
                </div>
                <div id="product-thumbnails" class="carusel">
                    <div class="buttons-container">
                        <a class="buttons prev" href="#" data-icon="&#xe0d5;"></a>
                        <a class="buttons next" href="#" data-icon="&#xe0d8;"></a>
                    </div>
                    <div class="viewport">
                        <ul class="products">
                            <li>
                                <a href="../../wordpress/wp-content/uploads/2013/08/1901-1-480x480.jpg">					            			<img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/1901-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/1901-1.jpg" />											</a>
                            </li>
                            <li>
                                <a href="../../wordpress/wp-content/uploads/2013/08/1901-2-480x480.jpg">					            			<img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/1901-2-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/1901-2.jpg" />											</a>
                            </li>
                            <li>
                                <a href="../../wordpress/wp-content/uploads/2013/08/1901-3-480x480.jpg">					            			<img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/1901-3-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/1901-3.jpg" />											</a>
                            </li>
                            <li>
                                <a href="../../wordpress/wp-content/uploads/2013/08/1901-1-480x480.jpg">					            			<img width="180" height="180" src="../../wordpress/wp-content/uploads/2013/08/1901-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="" data-zoom-image="../../wordpress/wp-content/uploads/2013/08/1901-1.jpg" />											</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="summary entry-summary">
                <h1 class="product_title entry-title">Juicy Couture Stella Gold Plated Bracelet Watch</h1>
                <div class="woocommerce-product-rating">
                    <div class="star-rating">
                        <span style="width:100%">
                            <strong class="rating">5.00</strong> out of <span>5</span>				based on <span class="rating">1</span> customer rating
                        </span>
                    </div>
                    <a href="#reviews" class="woocommerce-review-link" rel="nofollow">(<span class="count">1</span> customer review)</a>
                </div>
                <p class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>249.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>179.00</span></ins></p>
                <div itemprop="description">

                    <p>
                        Japanese-quartz movement<br />
                        40mm gold plated stainless steel round case with rainbow-ombre crystal set bezel<br />
                        Mineral crystal is scratch resistant and durable<br />
                        Silver sunray dial with multi-eye subdials<br />
                        Water-resistant to 30 M (99 feet)<br />
                        Swarovski crystal markers, multi-eye subdials<br />
                        Super feminine<br />
                        Glamorous, irreverent and fun lifestyle brand<br />
                        Sold over 10 000 times
                    </p>

                </div>

                <form class="cart" method="post" enctype='multipart/form-data'>
                    <div class="quantity">
                        <input type="number" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" />
                    </div>

                    <button type="submit" name="add-to-cart" value="1766" class="single_add_to_cart_button button alt">Add to cart</button>
                </form>

                <div class="clear"></div><div class="action_bar"><div class="wishlist"><a href="#" data-product-id="1766" class="add-wishlist" data-icon="&#xe01a;">Add to Wishlist</a></div><div class="compare"><a data-product-id="1766" class="add-compare" data-icon="&#xe09a;">Add to Compare</a></div></div><div class="product_meta">


                    <span class="sku_wrapper">SKU: <span class="sku">1901</span></span>

                    <span class="posted_in">Categories: <a href="../../product-category/woman-watch/juicycouture/index.html" rel="tag">Juicy Cotoure</a>, <a href="../../product-category/woman-watch/mulco/index.html" rel="tag">Mulco</a></span>
                    <span class="tagged_as">Tags: <a href="../../product-tag/juicy-cotoure/index.html" rel="tag">juicy cotoure</a>, <a href="../../product-tag/woman/index.html" rel="tag">woman</a></span>

                </div>

            </div><!-- .summary -->
            <div class="clear"></div>

            <div class="woocommerce-tabs wc-tabs-wrapper">
                <ul class="tabs wc-tabs" role="tablist">
                    <li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
                        <a href="#tab-description">Description</a>
                    </li>
                    <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                        <a href="#tab-reviews">Reviews (1)</a>
                    </li>
                </ul>
                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">

                    <h2>Description</h2>
                    <p>Juicy Couture is a glamorous, irreverent and fun lifestyle brand for the decidedly fashionable. Known for ascending the track suit to its status as a casual luxury icon, Juicy Couture continues to evolve, bringing the same confident, whimsical and feminine attitude to all its designs.</p>
                    <p>Founded in 1997 by Pamela Skaist-Levy and Gela Nash Taylor, Juicy Couture was acquired by industry titan Liz Claiborne Inc. in 2003. Today, the global phenomenon offers an assortment that spans fashion apparel for women, girls and baby, handbags, shoes, intimates, swimwear, fragrance, accessories, jewelry, watches, sunglasses and small goods.</p>
                </div>
                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                    <div id="reviews" class="woocommerce-Reviews">
                        <div id="comments">
                            <h2 class="woocommerce-Reviews-title">1 review for <span>Juicy Couture Stella Gold Plated Bracelet Watch</span></h2>

                            <ol class="commentlist">
                                <li class="comment even thread-even depth-1" id="li-comment-1065">
                                    <div id="comment-1065" class="comment_container">
                                        <img alt='' src='https://secure.gravatar.com/avatar/83e471283238682f1bb13dd6c39527c9?s=60&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/83e471283238682f1bb13dd6c39527c9?s=120&amp;d=mm&amp;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' />
                                        <div class="comment-text">

                                            <div class="star-rating">
                                                <span style="width:100%"><strong>5</strong> out of 5</span>
                                            </div>

                                            <p class="meta">
                                                <strong class="woocommerce-review__author" itemprop="author">wee</strong> <span class="woocommerce-review__dash">&ndash;</span> <time class="woocommerce-review__published-date" itemprop="datePublished" datetime="2013-10-30T00:35:28+00:00">October 30, 2013</time>
                                            </p>
                                            <div class="description">
                                                <p>amazing!</p>
                                            </div>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                            </ol>

                        </div>

                        <div id="review_form_wrapper">
                            <div id="review_form">
                                <div id="respond" class="comment-respond">
                                    <span id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></span><p class="must-log-in">You must be <a href="../../my-account/index.html">logged in</a> to post a review.</p>
                                </div><!-- #respond -->
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="related products carusel">

                <h2>Related Products</h2>
                <div class="buttons-container">
                    <a class="buttons prev" href="#" data-icon="&#xe0d5;"></a>
                    <a class="buttons next" href="#" data-icon="&#xe0d8;"></a>
                </div>
                <div class="viewport">
                    <ul class="products">


                        <li class="post-1774 product type-product status-publish has-post-thumbnail product_cat-vincecamuto product_tag-vince-camuto product_tag-woman first instock shipping-taxable purchasable product-type-simple">
                            <a href="../vince-camuto-two-tone-swarovski-crystal-accented-two-tone-bracelet-watch/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../vince-camuto-two-tone-swarovski-crystal-accented-two-tone-bracelet-watch/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/5049-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="5049-1" title="5049-1" /></div>
                                    <h3>Vince Camuto Swarovski Crystal Bracelet Watch</h3>
                                    <span class='short-description'>38 mm polished silver-tone stainless-steel case ...</span>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>319.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../vince-camuto-two-tone-swarovski-crystal-accented-two-tone-bracelet-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                                    <a href="index7abf.html?add-to-cart=1774" rel="nofollow" data-product_id="1774" data-product_sku="" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                                    <a href="#" data-product-id="1774" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="1774" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                        <li class="post-1742 product type-product status-publish has-post-thumbnail product_cat-anneklein product_tag-anne-klein product_tag-woman  instock shipping-taxable purchasable product-type-simple">
                            <a href="../anne-klein-womens-109443wtrd-silver-tone-white-dial-and-red-leather-strap-watch/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../anne-klein-womens-109443wtrd-silver-tone-white-dial-and-red-leather-strap-watch/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/10944-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="10944-1" title="10944-1" /></div>
                                    <h3>Anne Klein Silver-Tone White Dial, Red Leather Strap</h3>
                                    <span class='short-description'>White dial with Arabic numerals 12-3-6-9 and 8 i...</span>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>324.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../anne-klein-womens-109443wtrd-silver-tone-white-dial-and-red-leather-strap-watch/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                                    <a href="index4e2b.html?add-to-cart=1742" rel="nofollow" data-product_id="1742" data-product_sku="10944" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                                    <a href="#" data-product-id="1742" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="1742" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                        <li class="post-1699 product type-product status-publish has-post-thumbnail product_cat-fossil product_cat-katespade product_cat-mulco product_cat-raymondweil product_tag-luxury-2 product_tag-raymond-weil  instock shipping-taxable purchasable product-type-simple">
                            <a href="../raymond-weil-mens-4878-stc-00200-don-giovanni-cosi-grande-stainless-steel/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../raymond-weil-mens-4878-stc-00200-don-giovanni-cosi-grande-stainless-steel/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2013/08/4878-1-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="4878-1" title="4878-1" /></div>
                                    <h3>Raymond Weil Don Giovanni Cosi Grande Stainless Steel</h3>
                                    <span class='short-description'>
                                        Swiss automatic movement
                                        Antireflective-sapphir...
                                    </span>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1,165.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../raymond-weil-mens-4878-stc-00200-don-giovanni-cosi-grande-stainless-steel/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>

                                    <a href="indexca31.html?add-to-cart=1699" rel="nofollow" data-product_id="1699" data-product_sku="4878" class="add_to_cart_button product_type_simple linkcolor-as-bg" title="Add to cart"><span data-icon="&#xe067;"></span></a>

                                    <a href="#" data-product-id="1699" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="1699" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                        <li class="post-1326 product type-product status-publish has-post-thumbnail product_cat-woman-casual product_cat-michael-kors product_tag-casual product_tag-timex-2 product_tag-woman last instock shipping-taxable product-type-grouped">
                            <a href="../nomu-salt-pepper-and-spice-grinders/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../nomu-salt-pepper-and-spice-grinders/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2012/12/652-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="652" title="652" /></div>
                                    <h3>Timex Women&#8217;s &#8220;Weekender&#8221; Fuchsia Nylon Strap Watch</h3>
                                    <span class='short-description'>Simple and straightforward, this Timex "Weekende...</span>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>3.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../nomu-salt-pepper-and-spice-grinders/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>



                                    <a href="#" data-product-id="1326" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="1326" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                        <li class="post-1283 product type-product status-publish has-post-thumbnail product_cat-woman-casual product_tag-casual product_tag-jbw product_tag-woman pa_color-black-gold pa_color-black-silver pa_color-orange pa_color-pink pa_color-silver first instock featured shipping-taxable purchasable product-type-variable has-children">
                            <a href="../kenwood-kmix-two-slice-toaster/index.html" class="woocommerce-LoopProduct-link">
                                <a href="../kenwood-kmix-two-slice-toaster/index.html">
                                    <div class="thumb-wrapper"><img width="430" height="430" src="../../wordpress/wp-content/uploads/2012/12/21-430x430.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="2" title="2" /></div>
                                    <h3>JBW &#8220;Victory&#8221; Sport Silver White Designer Silicone Diamond Watch</h3>
                                    <span class='short-description'>
                                        Highest standard Quartz chronograph movement
                                        0....
                                    </span>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>15.00</span></span>
                                </a>
                                <div class="action-buttons">
                                    <a href="../kenwood-kmix-two-slice-toaster/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>



                                    <a href="#" data-product-id="1283" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>

                                    <a href="#" data-product-id="1283" class="add-wishlist linkcolor-as-bg" title="Add to wishlist"><span data-icon="&#xe01a;"></span></a>
                                </div>	<div class='circle-wrapper'>
                                    <span>+</span>

                                </div>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>

        </div><!-- #product-1766 -->


    </div>
</div>
