
@{
    ViewBag.Title = "PageLeft";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="title-area clearfix main-color ">
    <div class="inner">
        <h1 class="title">Sample Page Left Sidebar</h1>
        <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;Sample Page Left Sidebar</nav>
    </div><!-- .inner -->
</div><!-- .title-area .clearfix -->

<div id="primary" class="content-area">

    <div class="inner">

        <div id="content" class="site-content" role="main">


            <article id="post-1520" class="post-1520 page type-page status-publish has-post-thumbnail hentry">
                <div class="entry-wrap clearfix">
                    <div class="image-container">
                        <img width="697" height="266" src="../wordpress/wp-content/uploads/2013/06/sample_image.jpg" class="attachment-full size-full" alt="" />
                    </div>

                    <div class="entry-content-wrap clearfix no-thumb">
                        <div class="entry-content">
                            <p>This is an example page. It&#8217;s different from a blog post because it will stay in one place and will show up in your site navigation (in most themes). Most people start with an About page that introduces them to potential site visitors. It might say something like this:</p>
                            <blockquote><p>Hi there! I&#8217;m a bike messenger by day, aspiring actor by night, and this is my blog. I live in Los Angeles, have a great dog named Jack, and I like piña coladas. (And gettin&#8217; caught in the rain.)<span id="more-1520"></span></p></blockquote>
                            <p>&#8230;or something like this:</p>
                            <blockquote><p>The XYZ Doohickey Company was founded in 1971, and has been providing quality doohickeys to the public ever since. Located in Gotham City, XYZ employs over 2,000 people and does all kinds of awesome things for the Gotham community.</p></blockquote>
                            <p>As a new WordPress user, you should go to <a href="http://wp.nmservers.com/wordpress/wp-admin/">your dashboard</a> to delete this page and create new pages for your content. Have fun!</p>
                        </div><!-- .entry-content -->

                    </div><!-- .entry-content-wrap .clearfix .no-thumb -->
                </div><!-- .entry-wrap .clearfix -->
            </article><!-- #post-1520 -->


        </div><!-- #content .site-content -->





        <!-- #sidebar -->

    </div><!-- .inner -->

</div><!-- #primary .content-area -->


