
@{
    ViewBag.Title = "Shortcode";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="title-area clearfix main-color ">
    <div class="inner">
        <h1 class="title">Shortcodes</h1>
        <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;Shortcodes</nav>
    </div><!-- .inner -->
</div><!-- .title-area .clearfix -->

<div id="primary" class="content-area">

    <div class="inner">

        <div id="content" class="site-content" role="main">


            <article id="post-2075" class="post-2075 page type-page status-publish hentry">
                <div class="entry-wrap clearfix">

                    <div class="entry-content-wrap clearfix no-thumb">
                        <div class="entry-content">
                            <h2>Video</h2>
                            <div class="essenital-shortcode essential-video-" rel="showdowbox"><object width="610" height="420"><param name="movie" value="https://www.youtube.com/v/e_Nz8t3vNo8fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/e_Nz8t3vNo8?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="610" height="420"></embed></object></div> <div class="clearboth"></div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <h2>Box</h2>
                            <div class="essenital-shortcode box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat sagittis risus, vel laoreet velit fringilla et. Ut augue felis, laoreet id massa non, commodo hendrerit neque. Aliquam adipiscing, leo vitae dapibus dapibus, magna nisl vehicula turpis, sed aliquet turpis est at odio. Aliquam scelerisque diam eget libero tristique consequat. Praesent vitae fermentum sem. In sed pretium massa, vitae pulvinar odio. Duis fringilla mi nunc, ut eleifend nisl ornare sed. In quam arcu, facilisis ac ornare sit amet, fermentum ac nibh. Nulla id erat nisi. Nullam id accumsan sem, et ultrices felis. Donec convallis nulla ac dolor venenatis semper. </div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <h2>Two column</h2>
                            <p><div class="essenital-shortcode two-column">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat sagittis risus, vel laoreet velit fringilla et. Ut augue felis, laoreet id massa non, commodo hendrerit neque. Aliquam adipiscing, leo vitae dapibus dapibus, magna nisl vehicula turpis, sed aliquet turpis est at odio. Aliquam scelerisque diam eget libero tristique consequat. Praesent vitae fermentum sem. </div><div class="essenital-short codetwo-column-last">In sed pretium massa, vitae pulvinar odio. Duis fringilla mi nunc, ut eleifend nisl ornare sed. In quam arcu, facilisis ac ornare sit amet, fermentum ac nibh. Nulla id erat nisi. Nullam id accumsan sem, et ultrices felis. Donec convallis nulla ac dolor venenatis semper.</div><div class="clear"></div></p>
                            <p>&nbsp;</p>
                            <hr class="essenital-shortcode" />
                            <h2>Three column</h2>
                            <div class="essenital-shortcode three-column">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat sagittis risus, vel laoreet velit fringilla et. Ut augue felis, laoreet id massa non, commodo hendrerit neque. Aliquam adipiscing, leo vitae dapibus dapibus, magna nisl vehicula turpis, sed aliquet turpis est at odio. Aliquam scelerisque diam eget libero tristique consequat. </div>
                            <p><div class="essenital-shortcode three-column">Aliquam scelerisque diam eget libero tristique consequat. Praesent vitae fermentum sem. In sed pretium massa, vitae pulvinar odio. Duis fringilla mi nunc, ut eleifend nisl ornare sed. In quam arcu, facilisis ac ornare sit amet, fermentum ac nibh. Nulla id erat nisi. Nullam id accumsan sem, et ultrices felis. Donec convallis nulla ac dolor venenatis semper.</p>
                            <p>
                        </div><div class="essenital-shortcode three-column-last"> Aliquam scelerisque diam eget libero tristique consequat. Praesent vitae fermentum sem. In sed pretium massa, vitae pulvinar odio. Duis fringilla mi nunc, ut eleifend nisl ornare sed. In quam arcu, facilisis ac ornare sit amet, fermentum ac nibh. Nulla id erat nisi. Nullam id accumsan sem, et ultrices felis. Donec convallis nulla ac dolor venenatis semper. </div><div class="clear"></div></p>
                        <p>&nbsp;</p>
                        <hr class="essenital-shortcode" />
                        <h2>Buttons</h2>
                        <p>
                            <a class="essenital-shortcode smal-button " href="google.html">Small button</a><a class="essenital-shortcode smal-button orange" href="google.html">Small button</a><br />
                            <a class="essenital-shortcode button " href="google.html">Normal Button</a><a class="essenital-shortcode button orange" href="google.html">Normal Button</a><br />
                            <a class="essenital-shortcode  big-button " href="google.html">Big button</a><a class="essenital-shortcode  big-button orange" href="google.html">Big button</a><br />
                            &nbsp;<br />
                            <hr class="essenital-shortcode" />
                        </p>
                        <h2>Icon</h2>
                        <div class="essenital-shortcode four-column">
                            <br />
                            <span data-icon="&#128077;" style="color:; font-size:"></span> <span data-icon="&#128077;" style="color:; font-size:2em"></span> <span data-icon="&#128077;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128078;" style="color:; font-size:"></span> <span data-icon="&#128078;" style="color:; font-size:2em"></span> <span data-icon="&#128078;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128079;" style="color:; font-size:"></span> <span data-icon="&#128079;" style="color:; font-size:2em"></span> <span data-icon="&#128079;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128080;" style="color:; font-size:"></span> <span data-icon="&#128080;" style="color:; font-size:2em"></span> <span data-icon="&#128080;" style="color:#05133f; font-size:3em"></span><br />
                        </div>
                        <div class="essenital-shortcode four-column">
                            <br />
                            <span data-icon="&#128081;" style="color:; font-size:"></span> <span data-icon="&#128081;" style="color:; font-size:2em"></span> <span data-icon="&#128081;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128082;" style="color:; font-size:"></span> <span data-icon="&#128082;" style="color:; font-size:2em"></span> <span data-icon="&#128082;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128083;" style="color:; font-size:"></span> <span data-icon="&#128083;" style="color:; font-size:2em"></span> <span data-icon="&#128083;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128084;" style="color:; font-size:"></span> <span data-icon="&#128084;" style="color:; font-size:2em"></span> <span data-icon="&#128084;" style="color:#05133f; font-size:3em"></span><br />
                        </div>
                        <div class="essenital-shortcode four-column">
                            <br />
                            <span data-icon="&#128085;" style="color:; font-size:"></span> <span data-icon="&#128085;" style="color:; font-size:2em"></span> <span data-icon="&#128085;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128086;" style="color:; font-size:"></span> <span data-icon="&#128086;" style="color:; font-size:2em"></span> <span data-icon="&#128086;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128087;" style="color:; font-size:"></span> <span data-icon="&#128087;" style="color:; font-size:2em"></span> <span data-icon="&#128087;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128088;" style="color:; font-size:"></span> <span data-icon="&#128088;" style="color:; font-size:2em"></span> <span data-icon="&#128088;" style="color:#05133f; font-size:3em"></span><br />
                        </div>
                        <div class="essenital-shortcode four-column">
                            <br />
                            <span data-icon="&#128089;" style="color:; font-size:"></span> <span data-icon="&#128089;" style="color:; font-size:2em"></span> <span data-icon="&#128089;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128090;" style="color:; font-size:"></span> <span data-icon="&#128090;" style="color:; font-size:2em"></span> <span data-icon="&#128090;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128091;" style="color:; font-size:"></span> <span data-icon="&#128091;" style="color:; font-size:2em"></span> <span data-icon="&#128091;" style="color:#05133f; font-size:3em"></span><br />
                            <span data-icon="&#128092;" style="color:; font-size:"></span> <span data-icon="&#128092;" style="color:; font-size:2em"></span> <span data-icon="&#128092;" style="color:#05133f; font-size:3em"></span><br />
                        </div>
                    </div><!-- .entry-content -->

                </div>
            </article><!-- .entry-content-wrap .clearfix .no-thumb -->

        </div><!-- .entry-wrap .clearfix -->
        <!-- #post-2075 -->


    </div><!-- #content .site-content -->



</div>

	

