
@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-area clearfix main-color">

    <div class="inner">

        <div class="left-side-title">
            <h1 class="page-title">Wishlist</h1>
            <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;Wishlist</nav>
        </div><!-- .left-side-title -->

        <div class="right-side-title">

        </div><!-- .right-side-title -->

    </div><!-- .inner -->

</div><!-- .title-area .clearfix .main-color -->





<div id="container">
    <div id="content" role="main">




        <p class="woocommerce-info">No products found in your wishlist.</p>

    </div>
</div>   

